<div class="panel panel-default">
    <div class="panel-heading">
        <b>Pedidos</b>
        <div class="btn-group">
            <a class="btn btn-default" href="" ng-click="actionListarPedidos();showListaPedido=!showListaPedido">listar</a>
            <a class="btn btn-default" href="#/admin/pedido/cadastrar">cadastrar</a>
        </div>
    </div>
    <table class="table" ng-show="showListaPedido">
        <tr>
            <th>Id</th>
            <th>Condomínio</th>
            <th>Valor</th>
            <th>Hora entrega</th>
            <th>Status</th>
            <th>Ação</th>
        </tr>
        <tr ng-repeat="pedido in pedidos">
            <td>{{pedido.id}}</td>
            <td>{{pedido.condominio_id}}</td>
            <td>{{pedido.valor}}</td>
            <td>{{pedido.datahora_entrega}}</td>
            <td>{{pedido.status}}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="#/admin/pedido/ver/{{pedido.id}}">ver</a>
                    <a class="btn btn-default" >deletar</a>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Clientes</b>
        <div class="btn-group">
            <a class="btn btn-default" href="" type="button" ng-click="actionListarClientes();showListaCliente=!showListaCliente">listar</a>
            <a class="btn btn-default" href="#/admin/cliente/cadastrar">cadastrar</a>
        </div>
    </div>
        <table class="table" ng-show="showListaCliente">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ação</th>
            </tr>
            <tr ng-repeat="cliente in clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.email}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default" href="#/admin/cliente/ver/{{cliente.id}}">ver</a>
                        <a class="btn btn-default" >deletar</a>
                    </div>
                </td>
            </tr>
        </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Padarias</b>
        <div class="btn-group">
            <a href="" class="btn btn-default" type="button" ng-click="actionListarPadarias();showListaPadaria=!showListaPadaria">listar</a>
            <a class="btn btn-default" href="#/admin/padaria/cadastrar">cadastrar</a>
        </div>
    </div>
        <table class="table" ng-show="showListaPadaria">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ação</th>
            </tr>
            <tr ng-repeat="padaria in padarias">
                <td>{{padaria.id}}</td>
                <td>{{padaria.nome}}</td>
                <td>{{padaria.telefone}}</td>
                <td>{{padaria.email}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default" href="#/admin/padaria/ver/{{padaria.id}}">ver</a>
                        <a class="btn btn-default" >deletar</a>
                    </div>
                </td>
            </tr>
        </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Condomínios</b>
        <div class="btn-group">
            <a href="" class="btn btn-default" type="button" ng-click="actionListarCondominios();showListaCondominio=!showListaCondominio">listar</a>
            <a class="btn btn-default" href="#/admin/condominio/cadastrar">cadastrar</a>
        </div>
    </div>
        <table class="table" ng-show="showListaCondominio">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Ação</th>
            </tr>
            <tr ng-repeat="condominio in condominios">
                <td>{{condominio.id}}</td>
                <td>{{condominio.nome}}</td>
                <td>{{condominio.logradouro}} , {{condominio.cidade}}/{{condominio.estado}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default" href="#/admin/condominio/ver/{{condominio.id}}">ver</a>
                        <a class="btn btn-default" >deletar</a>
                    </div>
                </td>
            </tr>
        </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Cardápios</b>
        <div class="btn-group">
            <a href="" class="btn btn-default" type="button" ng-click="actionListarCardapios();showListaCardapio=!showListaCardapio">listar</a>
            <a class="btn btn-default" href="#/admin/cliente/cadastrar">cadastrar</a>
        </div>
    </div>
    <table class="table" ng-show="showListaCardapio">
        <tr>
            <th>Id</th>
            <th>Id Padaria</th>
            <th>Itens</th>
            <th>Ação</th>
        </tr>
        <tr ng-repeat="cardapio in cardapios">
            <td>{{cardapio.id}}</td>
            <td>{{cardapio.padaria_id}}</td>
            <td>{{cardapio.itens.length}}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="#/admin/cardapio/ver/{{cardapio.id}}">ver</a>
                    <a class="btn btn-default" >deletar</a>
                </div>
            </td>
        </tr>
    </table>
</div>