<nav class="navbar navbar-default" role="navigation" ng-show="true" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding-top: 2px;"><img src="img/logo.png" width="70px"></a>
            {{usuario.nome}}
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrar<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/admin/pedido/listar">Listar pedidos</a></li>
                    <li><a href="#/admin/pedido/cadastrar">Cadastrar pedidos</a></li>
                    <li class="divider"></li>
                    <li><a href="#/admin/cliente/listar">Cliente</a></li>
                    <li><a href="#/admin/cliente/cadastrar">Novo Cliente</a></li>
                    <li class="divider"></li>
                    <li><a href="#/admin/padaria/listar">Padaria</a></li>
                    <li><a href="#/admin/padaria/cadastrar">Nova Padaria</a></li>
                    <li class="divider"></li>
                    <li><a href="#/admin/condominio/listar">Condomínio</a></li>
                    <li><a href="#/admin/condominio/cadastrar">Novo Condomínio</a></li>
                    <li class="divider"></li>
                    <li><a href="#/admin/cardapio/listar">Cardápio</a></li>
                    <li><a href="#/admin/cardapio/cadastrar">Novo Cardápio</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Minha conta<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="">Meus dados</a></li>
                    <li><a href="" ng-click="actionSair()" >Alterar senha</a></li>
                </ul>
            </li>

            <li><a href="#">sair</a></li>
        </ul>
    </div>
</nav>
<p>{{mensagem}}</p>

<div class="panel panel-default">
    <ol class="breadcrumb">
        <li><a href="#/admin/index">admin</a></li>
        <li><a href="#/admin/{{controller}}/listar">{{controller}}</a></li>
        <li ng-show="{{action}}"><a href="#/admin/{{controller}}/{{action}}">{{action}}</a></li>
        <li class="active" ng-show="{{id}}">{{id}}</li>
    </ol>

    <div class="panel-body">
        <div ng-include src="template"> </div>
    </div>
    <div class="panel-footer">Caffé Diem - Todos os direitos reservados</div>
</div>